p {font-family: verdana, sans-serif; font-size: 12pt; color: black}
h1 {font-family: serif; font-size: 20pt; color: white}
h2 {font-family: serif; font-size: 18pt; color: blue}
<background-color:green>